body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  max-width: 1100px;
  margin: 30px auto;
  color: #222;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#map {
  height: 600px;
  border-radius: 12px;
  border: 2px solid #222;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#info {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
